ipykernel
scikit-learn
statsmodels
pandas
xgboost
tensorflow
opencv-contrib-python
pillow
gradio
seaborn
nltk
plotly
textblob
thompson
tensorflow
pytorch
python-dotenv
google-generativeai
tqdm
pdfminer.six
torch